.img-selectBox {
    border: 5px solid #e1e1e1;
    border-radius: 50%;
}

body {
	background: #f4f4f7;
	font-family: 'Open Sans', sans-serif;
}

.contenedor {
	width: 90%;
	max-width: 1000px;
	margin: 5%;
}

.selectbox {
	margin: auto;
	position: relative;
}


.titulo {
	margin-bottom: 10px;
	color: #000;
	font-weight: 600;
	font-size: 30px;
}

.descripcion {
	font-size: 18px;
	color: #434343;
}

.opciones {
	background-color: #f2f2f2;
	border-radius: 10px;
	box-shadow: 0px 5px 10px rgba(0,0,0,.16);
	max-height: 400px;
	overflow: auto;
	z-index: 100;
	width: 100%;
	cursor: pointer;
}

.opciones.active {
	display: block;
	animation: fadeIn .3s forwards;
}

.contenido-opcion {
	width: 100%;
	display: flex;
	align-items: center;
	transition: .2s ease all;
}

.opciones .contenido-opcion {
	padding: 30px;
}

.contenido-opcion img {
	width: 60px;
	height: 60px;
	margin-right: 30px;
}

.opciones .contenido-opcion:hover {
	background: #213F8F;
}

/* .opciones .contenido-opcion:hover .titulo, */
.opciones .contenido-opcion:hover .descripcion {
	color: #fff;
}

