header{
    background-color: #171a21;  
}


.container {
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    margin:0 5% 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   }

.logo {
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: 50%;
    border-radius: 50%;
    background-size: 100% auto;
    height: 3.125rem;
    width: 3.125rem;
}



.navbar div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar div a {
    list-style: none;
    text-decoration: none;
    color:#c5c3c0;
    font-family: Roboto, "sans-serif";
    font-size: 1.2rem;  
}

.navLink{
    padding: 1.8438rem;
}

a.current {
    border-bottom: 5px #4187d1  solid;
    background-color: #215999;
}
